/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #0E0E0EFF;
    background-alt: #1A1A1AFF;
    foreground:     #DDDDDDFF;
    selected:       #AAAAAAFF;
    active:         #BBBBBBFF;
    urgent:         #888888FF;
}

